.xchange {
    color: #f14d01;
    font-size: 30px;
    font-family: sans-serif;
}

.para {
    color: darkslategrey;
    font-size: 10px;
    font-family: cursive;
    font-stretch: expanded;
}

input {
    background-color: transparent;
    border-color: cadetblue;
}

span {
    color: #155370;
}

.textbox {
    height: 100px;
}

.new {
    height: 100px;
}

.box {
    height: 120px;
}